services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
            target: dev
            args:
                BUILDKIT_INLINE_CACHE: 1
        container_name: symfony-perso-app
        ports:
            - "${APP_PORT:-8080}:8080"
            - "${VITE_PORT:-5173}:5173"
        volumes:
            - .:/app
            - user-data:/home/www-data
        environment:
            # Configuration Xdebug
            - XDEBUG_MODE=${XDEBUG_MODE:-off}
            - XDEBUG_CONFIG=${XDEBUG_CONFIG:-client_host=host.docker.internal}
            - PHP_IDE_CONFIG=serverName=symfony-perso-app
        networks:
            - database
        depends_on:
            database:
                condition: service_healthy
        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:8080/healthz" ]
            interval: 30s
            timeout: 3s
            retries: 3
            start_period: 40s
        extra_hosts:
            - "host.docker.internal:host-gateway"

    database:
        image: mariadb:12.1.2
        container_name: symfony-perso-database
        environment:
            MARIADB_ROOT_PASSWORD: root
            MARIADB_USER: root
            MARIADB_PASSWORD: root
            MARIADB_DATABASE: app
        volumes:
            - database-data:/var/lib/mysql
        networks:
            - database
        healthcheck:
            test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
            interval: 10s
            timeout: 5s
            retries: 5

networks:
    database: ~

volumes:
    database-data:
        driver: local
    user-data:
        driver: local
