services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
            target: dev
            args:
                BUILDKIT_INLINE_CACHE: 1
        container_name: symfony-perso-app
        volumes:
            - .:/app
            - user-data:/home/www-data
        environment:
            # Configuration Xdebug
            - XDEBUG_MODE=${XDEBUG_MODE:-off}
            - XDEBUG_CONFIG=${XDEBUG_CONFIG:-client_host=host.docker.internal}
            - PHP_IDE_CONFIG=serverName=symfony-perso-app
        networks:
            - database
            - traefik
        depends_on:
            database:
                condition: service_healthy
        extra_hosts:
            - "host.docker.internal:host-gateway"
        labels:
            - "traefik.enable=true"
            - "traefik.docker.network=traefik"
            - "traefik.http.routers.symfony-perso-php.rule=Host(`symfony-perso.web.localhost`)"
            - "traefik.http.routers.symfony-perso-php.tls=true"
            - "traefik.http.services.symfony-perso-php.loadbalancer.server.port=8080"

    vite:
        image: node:24-trixie-slim
        container_name: symfony-perso-vite
        working_dir: /app
        networks:
            - traefik
        volumes:
            - ./:/app
        command: npm run dev
        labels:
            - "traefik.enable=true"
            - "traefik.docker.network=traefik"
            - "traefik.http.routers.symfony-perso-vite.rule=Host(`symfony-perso-vite.web.localhost`)"
            - "traefik.http.routers.symfony-perso-vite.tls=true"
            - "traefik.http.services.symfony-perso-vite.loadbalancer.server.port=5173"

    database:
        image: mariadb:12.1.2
        container_name: symfony-perso-database
        environment:
            MARIADB_ROOT_PASSWORD: root
            MARIADB_USER: root
            MARIADB_PASSWORD: root
            MARIADB_DATABASE: app
        volumes:
            - database-data:/var/lib/mysql
        networks:
            - database
        healthcheck:
            test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
            interval: 10s
            timeout: 5s
            retries: 5

networks:
    traefik:
        external: true
    database: ~

volumes:
    database-data:
        driver: local
    user-data:
        driver: local
